@import "~bootstrap/scss/bootstrap.scss";

body {
  background: lightgray;
}

h1 {
    margin: 20px 0 15px 0;  
    color: gray;
    height: 120px;
    font-size: 110px;
}

.container {
    background: white;
    width: 600px;
    margin: 0 auto;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}